.page-container {
  padding: 5px;

  font-family: 'Montserrat', sans-serif;
  font-size: 18px;
}

.page-container * {
  padding: 5px;
}

/* COMMON */
h1 {
  margin: 30px auto;
  font-size: 40px;
}

img {
  height: 200px;
}

.float-container::after {
  content: "";
  display: table;
  clear: both;
}

/* BLOCCO LEZIONI */
#lezioni .row img {
  /* per centrare orizzontalmente */
  display: block;
  margin-right: auto;
  margin-left: auto;
}

#lezioni {
  text-align: center;
}



/* BLOCCO STEPS */
#steps {
  text-align: center;
}

.container.grey {
  background-color: #EFEFEF;
  border: solid 1px #A7A7A7;
  border-radius: 10px;
}



/* BLOCCO WHY */
#why {
  text-align: center;
}

#why .row img {
  background-color: #428bca;
  border-radius: 50%;
  padding: 30px;
}



/* VERSIONE MOBILE */
@media all and (max-width: 767px) {

  /* GENERALI */
  .container {
    font-size: 85%;
  }

  h1 {
    font-size: 30px;
  }

  /* BLOCCO LEZIONI */
  #lezioni .row img {
    width: auto;
    height: 100px;
  }

  /* BLOCCO STEPS */
  #steps .row img {
    height: 150px;
  }

  /* BLOCCO WHY */
  #why .left, #why .right {
    display: inline-block;
    float: left;
  }

  #why .left {
    width: 30%;
    padding-top: 30px;
  }

  #why .right {
    width: 65%;
  }

  #why .row img {
    height: 100px;
    padding: 15px;
  }

  #why .row > div {
    margin-bottom: 20px;
  }
}
